.carousel{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
  position: relative;
}

.carousel .list .item{
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img{
  width: auto;
  height: auto;
  object-fit: cover;
}
