@model CrudAsp.resource.response.CinemaResponse

@{

}

<div class="container mt-2">
    <h2>@Model.CinemaName</h2>
    <a class="btn  btn-secondary" asp-controller="Cinema" asp-action="Index">Back</a>
</div>