.select2-container {
    z-index: 9999 !important;
}

.select2-results__option {
    color: #000;
}
.select2-results__option:hover {
    background-color:#B3B3B3 !important;
    color: #E50914 !important;
}

#formatTable tbody tr:hover {
    background-color: #E50914 !important; /* Light gray */
}