$netflix-red :  #E50914;
$netflix-red: #E50914;
$netflix-black: #141414;
$netflix-dark-gray: #221F1F;
$netflix-light-gray: #B3B3B3;
$netflix-white: #FFFFFF;
$netflix-deep-red: #B81D24;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

